.bulb {
  
}

label {
  margin: 0 auto;
  background-image:url('http://png.findicons.com/files/icons/1588/farm_fresh_web/32/lightbulb_off.png');
  background-size: 100% 100%;
  display:block;
  width:100px;
  height:100px;
}

input:checked + label {
  background-image:url('http://png.findicons.com/files/icons/1588/farm_fresh_web/32/lightbulb.png');
}

input {
  display:none;
}
